/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/_ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine((
    odd-row-background-color: #1F242A,
    selected-row-background-color: transparent,
    background-color: #22272E,
    foreground-color: #ACB5BC,
    data-color: #ACB5BC,
    header-background-color: #1F242A,
    range-selection-border-color: transparent,
    selected-tab-underline-color: transparent,
    borders: false,
    checkbox-checked-color: #1681F6,
    checkbox-background-color: #ACB5BC,
    row-hover-color: #1F3956,
    input-border-color: null,
));
}

.ag-paging-button,
.ag-paging-description {
  border: 0.5px solid #71808e;
}

.ag-theme-alpine .ag-paging-description {
  margin: 0;
  padding: 4.5px 14px;
}

.ag-paging-button {
  &:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
  }
  &:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
  }
}

.ag-theme-alpine .ag-paging-button {
  margin: 0;
}

.ag-theme-alpine .ag-paging-panel {
  margin-top: 30px;
  border-top: none;
  background-color: #2D343D;
}

.ag-theme-alpine .ag-icon-previous {
  padding: 5px 13px 5px 10px;
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8, <svg aria-hidden="true" width="6" focusable="false" data-prefix="fas" data-icon="caret-left" class="svg-inline--fa fa-caret-left fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"></path></svg>');
  }
}

.ag-theme-alpine .ag-icon-next {
  padding: 5px 10px 5px 13px;
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8, <svg aria-hidden="true" width="6" focusable="false" data-prefix="fas" data-icon="caret-right" class="svg-inline--fa fa-caret-right fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="white" d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"></path></svg>');
  }
}

.ag-theme-alpine .ag-icon-last {

  &::before {
    content: url('data:image/svg+xml;charset=UTF-8, <svg aria-hidden="true" width="13" focusable="false" data-prefix="fas" data-icon="forward" class="svg-inline--fa fa-forward fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M500.5 231.4l-192-160C287.9 54.3 256 68.6 256 96v320c0 27.4 31.9 41.8 52.5 24.6l192-160c15.3-12.8 15.3-36.4 0-49.2zm-256 0l-192-160C31.9 54.3 0 68.6 0 96v320c0 27.4 31.9 41.8 52.5 24.6l192-160c15.3-12.8 15.3-36.4 0-49.2z"></path></svg>');
  }
}

.ag-theme-alpine .ag-icon-first {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8, <svg aria-hidden="true" width="13" focusable="false" data-prefix="fas" data-icon="backward" class="svg-inline--fa fa-backward fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M11.5 280.6l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2zm256 0l192 160c20.6 17.2 52.5 2.8 52.5-24.6V96c0-27.4-31.9-41.8-52.5-24.6l-192 160c-15.3 12.8-15.3 36.4 0 49.2z"></path></svg>');
  }
}

.ag-theme-alpine .ag-icon-first,
.ag-theme-alpine .ag-icon-last {
  height: 26px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

#ag-24-start-page,
#ag-24-first-row,
#ag-24-to {
  display: none;
}

#ag-24-start-page-number {
  margin-right: -11px;
}

#ag-24-of-page {
  visibility: hidden;
  &::after {
    content: '/';
    visibility: visible;
  }
}

::ng-deep .ag-header {
  display: inline-block;
  white-space: nowrap;
  transform: translate(0,100%) rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  top: 140px;
}

//.ag-cell-label-container {
//  /* Necessary to allow for text to grow vertically */
//  height: 100%;
//}
//
//.ag-header-cell-label {
//  /* Necessary to allow for text to grow vertically */
//  height: 100%;
//  padding: 0 !important;
//}
//
//.ag-header-cell-label .ag-header-cell-text {
//  /* Force the width corresponding at how much width
//  we need once the text is laid out vertically */
//  width: 30px;
//  transform: rotate(90deg);
//  margin-top: 50px;
//  /* Since we are rotating a span */
//  display: inline-block;
//}
