<div class="container">
  <div class="left-side" id="myPaletteDiv">
    <h5 class="left-side__header">Links</h5>
    <hr>
<!--    <ul-->
<!--      cdkDropList-->
<!--      #boxes0="cdkDropList"-->
<!--      class="groups left-side__ul"-->
<!--      [cdkDropListData]="boxes0"-->
<!--      [cdkDropListConnectedTo]="[dropZone]"-->
<!--      (cdkDropListDropped)="drop($event)"-->
<!--    >-->
<!--      <ng-container *ngFor="let item of movementItems; index as i;">-->
<!--        <li cdkDrag>{{ item.name }}</li>-->
<!--      </ng-container>-->
<!--    </ul>-->
  </div>
  <div class="right-side" #dropZone
       [ngClass]="{ 'top-b': !edge?.top, 'bottom-b': !edge?.bottom, 'left-b': !edge?.left, 'right-b': !edge?.right }"
  >
  </div>
</div>
