<div class="container">
  <div class="left-side" id="myPaletteDiv">
    <h5 class="left-side__header">Links</h5>
    <hr>
    <ul
      cdkDragHandle
      class="groups left-side__ul"
    >
      <ng-container *ngFor="let item of movementItems; index as i;">
        <li cdkDrag
            [attr.id]="item.id"
            (cdkDragStarted)="dragStarted($event)"
            (cdkDragEnded)="dragEnded($event, item)"
            (cdkDragMoved)="dragMoved($event)"
            (cdkDragStarted)="cdkDragStarted($event, item, i)"
            (cdkDragReleased)="cdkDragReleased($event, item, i)"
            (cdkDragEntered)="cdkDragEntered($event)"
            [cdkDragData]="item"
            (click)="getStartElement(i, item, $event)"
            (mouseleave)="mouseLeave($event)"
            class="custom-placeholder"
        >
          <div>{{ item.name }}</div>
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="right-side"
       id="drop-zone"
       #dropZone
  >
  </div>
</div>
